#!/bin/sh

# Randomly generate a UNIQUE password for each one of these
# Here is a one liner to do this:
# uuidgen | sed 's/\-//g' | awk '{print tolower($0)}'
export NANOMDM_API_KEY="REPLACEME"
export DDM_API_KEY="REPLACEME"
